@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root{
    --cyan: hsl(179, 62%, 43%);
    --yellow: hsl(71, 73%, 54%);
    --gray: hsl(204, 43%, 93%);
    --blue: hsl(218, 22%, 67%);
    --white: hsl(255, 100%, 100%);
    --black: hsl(40, 5%, 0%);
   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Karla', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background-color: var(--blue);
    flex-wrap: wrap;
    align-content: center;
    
}
.contyner{
    width: 50%;
    max-width: 1440px;
    border-radius: 3px;
    box-shadow: 0px 5px 12px rgb(44 87 93)
}
.col-up{
    background-color: var(--white);
    height: 50%;
    margin: auto;
    
    border-radius: 3px;
}
h1{
    font-size: 30px;
    color: var(--cyan);
    padding: 15px;
}
.day{
    color: var(--yellow);
    font-size: 15px;
    padding: 15px;
}
.full{
    font-size: 13px;
    padding-bottom: 25px;
    margin-left: 10px;
}

.col-down{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}
.col-left{
 background: var(--cyan);
 width: 50%;
 height:250px;
}

.col-right{
 background: var(--cyan);
 width: 50%;
 height: 250px;
 
}
.p1{
    color: var(--white);
    font-size: 16px;
    padding: 15px;
}
.p2{
 color: var(--white);
 font-size: 16px;
 padding: 15px;
 margin-bottom: 20px;
}
.p3{
    
    text-align: left;
    color: var(--gray);
    font-size: 13px;
    margin-left: 15px;
    padding: 3px;
    
    
}
.dolar{
    font-size: 30px;
    color: var(--white);
    margin-left: 15px;
}
.p4{
    color: var(--gray);
    padding-top: 10px;
    margin-left: 15px;
}
.button{

    margin-top: 40px;
    margin-left: 30px;
    background: var(--yellow);
    padding-top: 5px;
    padding-bottom: 5px;
    
    border-radius: 5px;
    border: 0px;
    box-shadow: 0px 5px 12px rgb(44 87 93);
    width: 50%;
}
.block{
    display:flex;
    flex-direction: row;
    font-size: 34px;
     color: var(--white);
     align-items: center;
     gap: 10px;
}
.p5{
    font-size: 16px;
    color: var(--gray);
}
@media only screen and (max-width: 800px){
    .col-down{
        flex-direction: column;
    }
    .col-left,
    .col-right{
        width: 100%;
    }
    .contyner{
        width: 80%;
    }
}